{% extends 'base.html.twig' %}

{% block body %}
    <h1>Homepage</h1>

    <ul>
        <li><a href="">Load data for user 1</a></li>
        <li><a href="">Load data for user 2 (will fail)</a></li>
    </ul>
{% endblock %}
